<?xml version="1.0"?>
<config>
    <modules>
        <SiteClue_Bsd>
            <version>1.0.0</version>
        </SiteClue_Bsd>
    </modules>
    <frontend>
        <layout>
            <updates>
                <bsd>
                    <file>bsd.xml</file>
                </bsd>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <siteclue_bsd_setup>
                <setup>
                    <module>SiteClue_Bsd</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </siteclue_bsd_setup>
            <bsd_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bsd_write>
            <bsd_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bsd_read>
        </resources>
        <blocks>
            <bsd>
                <class>SiteClue_Bsd_Block</class>
            </bsd>
        </blocks>
    </global>
</config>